
@{
    ViewBag.Title = "Workplace";
}

<div class="content">
    <div class="left block">
        @{
            Html.RenderAction("MainInformation", "Child");
        }
        
    </div>
    <div class="right block">
        @{
            Html.RenderAction("Tasks", "Child");
        }

    </div>
</div>

