@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="../css/main.css">
    
    <title>Управляй своим временем</title>
</head>
    <div class="container" id="top">
        <div class="main_content">
            <header>
                <div class="top">
                    <nav class="menu">
                        <div class="header">
                            <a href="/">
                                <div class="img"></div>
                                <span class="name" style="font-family: 'Coiny', cursive;">PDPlanner</span>
                            </a>
                        </div>
                        
                        <div class="select_menu" id="navbar-main">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a rel="nofollow" href="/features">Обзор</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/download" class="button">Войти</a>
                                </li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </nav>
                </div>
            </header>
        </div>
    </div>
